# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# CMake / Build folders
build/
out/
.cmake/
_deps/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
compile_commands.json

# IDEs (VS Code / Visual Studio)
.vscode/
.vs/
.cache/
*.swp
